<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/table.css">
</head>
<body>
  <% if(isLoggedIn){ %>
    <h3><%= user %></h3>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < users.length; i++) { %>
          <tr>
            <td><%= users[i].username %></td>
            <td><%= users[i].email %></td> 
            <td><%= users[i].password %></td> 
            <td>
              <form action="/delete" method="post"><button id="button" 
                name="idUser" value="<%= users[i].id %>">Delete</button></form>
            </td>
            <td>
              <form action="/update" method="get"><button id="button" 
                name="email" value="<%= users[i].email %>">Update</button></form>
            </td>
        </tr>
        <% } %>
    </tbody>
  </table>

</body>
</html>
